################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RoboJo/obj/Debug
/RoboJo/obj/Release
/RoboJo/bin/Debug
/RoboJo/bin/Release
/.vs/RoboJo/v15
